body{
    background: linear-gradient(180deg, #7FE6D9 10%, rgba(255, 255, 255, 0.95) 100%);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    height: 100%;
    padding: 0;
    background-repeat: no-repeat;
}
#myImage {
    width: 300px;
    height: 300px;
    transition: transform 0.5s ease-out, margin-left 0.5s ease-out;
  }

  .rotate {
    transform: rotate(360deg);
  }
  
  .roll {
    margin-left: 100px;
  }

.heroText{
margin-left: 35px;
position: relative;
margin-top: 130px;
font-size: 55px;
}

.hero{
  display: flex;
  margin-left: 6%;
  margin-top: 10%;
}
  
/* CSS code */
.heroText {
  opacity: 0;
  animation: fadeIn 3s ease-out forwards;
  letter-spacing: 1px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.btn {
  margin-top: 0px;
  display: flex;
  justify-content: center;
}

.letsGo{
  background: #4E31AA;
  color: white;
  padding: 10px;
  border-radius: 3px;
  text-decoration: none;
  height: 2rem;
  width: 10rem;
  opacity: 0;
  animation: fadeInText 3s ease-out forwards;
  text-align: center;
  display: block;
  margin-left: 4rem;
}

.letsGo:hover{
  background: #191825;
}

@keyframes fadeInText {
  from {
    opacity: 0;
    visibility: hidden;

  }
  to {
    opacity: 1;
    visibility:visible;
  }
}

/* Set viewport meta tag for mobile devices */


/* Style for smaller screens */
@media only screen and (max-width: 1000px) {
  #myImage {
    width: 200px;
    height:200px;
    transition: transform 0.5s ease-out, margin-left 0.5s ease-out;
  }

  .heroText{
    margin-left: 20px;
    position: relative;
    margin-top: 90px;
    font-size: 35px;
    }

    .hero{
      display: flex;
      margin-left: 1%;
      margin-top: 10%;
    }

    .letsGo{
      background: #4E31AA;
      color: white;
      padding: 10px;
      border-radius: 3px;
      text-decoration: none;
      height: 1rem;
      width: 5rem;
      opacity: 0;
      animation: fadeInText 3s ease-out forwards;
      text-align: center;
      display: block;
      margin-left: 4rem;
      font-size: 15px;
    }

    .btn {
      margin-top: 15px;
      display: flex;
      justify-content: center;
    }
}

@media only screen and (max-width: 700px) {
  #myImage {
    width: 120px;
    height:120px;
    transition: transform 0.5s ease-out, margin-left 0.5s ease-out;
  }

  .heroText{
    margin-left: 20px;
    position: relative;
    margin-top: 50px;
    font-size: 20px;
    }

    .hero{
      display: flex;
      margin-left: 0;
      margin-top: 10%;
    }

    .letsGo{
      background: #4E31AA;
      color: white;
      padding: 10px;
      border-radius: 3px;
      text-decoration: none;
      height: 0.75rem;
      width: 4rem;
      opacity: 0;
      animation: fadeInText 3s ease-out forwards;
      text-align: center;
      display: block;
      margin-left: 4rem;
      font-size: 10px;
    }

    .btn {
      margin-top: 15px;
      display: flex;
      justify-content: center;
    }
}